
mixin button(args)

	- var cls = [];
	if attributes.class
		- cls.push(attributes.class)
	- cls.push(args.modifier);

	button.button(class=cls.join(' ') type=args.type || 'button')
		span.button__text=args.text