
include ../components/button/button
include ../components/field/field
include ../components/socials/socials
include ../components/logo/logo
include ../components/header/header
include ../components/scroll-footer/scroll-footer
include ../components/footer/footer
include ../components/modal/modal
include ../components/video/video

include ../sections/main/main
include ../sections/how/how
include ../sections/faq/faq
include ../sections/about/about
