
script(src="js/script.js")
	
script(src='components/field/field.js')
script(src='components/header/header.js')
script(src='components/scroll-footer/scroll-footer.js')
script(src='components/logo/logo.js')
script(src='components/modal/modal.js')
script(src='components/video/video.js')


//- sections
script(src='sections/how/how.js')
script(src='sections/faq/faq.js')
