
doctype html
html(lang="ru")
    head
        meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
        meta(name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        //- jQuery
        script(src="https://code.jquery.com/jquery-3.4.1.min.js")

        //- Scrollify
        script(src="https://cdnjs.cloudflare.com/ajax/libs/scrollify/1.0.19/jquery.scrollify.min.js")

        //- masked-text-field
        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js")

        //- Font Awesome
        script(src="https://kit.fontawesome.com/d42adb4b0f.js")

        //- Owl Carousel
        link(href="libs/owl-carousel/owl.carousel.min.css" rel="stylesheet" type="text/css")
        script(src="libs/owl-carousel/owl.carousel.min.js")

        block styles

        title
            block title

    body.body#body
        block blocks

        block constants

        block content

        block scripts