
.modal {
  visibility: hidden;
	opacity: 0;
  transition: opacity linear .3s;
  background: url('../img/main-bg.jpg') center 70% / cover no-repeat;
  z-index: -1;
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: -1px;
  text-align: center;
  white-space: nowrap;

  &::after {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 100%;
    content: '';
  }

  &_ordered {

    .modal-form {
      display: none;
    }

    .modal-order-message {
      display: block;
    }
  }

  &__inner {
    display: inline-block;
    vertical-align: middle;
  }

  &__content {
    margin: 50px 0;
    white-space: normal;
    box-sizing: border-box;
    width: 350px;
    padding: 50px 30px;
    background-color: #3A3A3A;
    position: relative;
    text-align: center;
  }

  &__close {
    width: 21px;
    height: 21px;
    position: absolute;
    top: 3px;
    right: -44px;
    cursor: pointer;

    &:before,
    &:after {
      content: '';
      position: absolute;
      background-color: $light-bg;
      width: 27px;
      height: 2px;
      top: 10px;
      right: -3px;
    }

    &:before {
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &:after {
      -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }
  }

  &-form {
    
    &__field {
      margin: 0 0 15px;

      &:last-of-type {
        margin-bottom: 30px;
      }
    }

    &__btn {
    
    }
  }

  &-order-message {
    display: none;

    &__header {
      margin: 0 0 30px;
    }

    &__text {
      margin: 0;
    }
  }

  @media screen and (max-width:550px) {

    &__content {
      padding: 60px 10px 30px;
      max-width: 320px;
    }

    &__close {
      top: 19px;
      right: 21px;
    }

  }
}
