
mixin video(args)
	.video(class!=attributes.class id!=attributes.id)
		.video__content
			.video__close

			iframe.video__file(src=args.src frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)