
mixin video(args)
	.video(class!=attributes.class)
		.video__content
			.video__close

			iframe.video__file(src="https://www.youtube.com/embed/xjnnuubKS_s" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)