
mixin footer(args)
	.footer(class!=attributes.class)
		.footer__text-block
			|© Digital Planet, 2019
		.footer__text-block
			|Детский VR планетарий. Все права защищены.
		+ socials(class="footer__socials")