
mixin socials(args)
	.socials(class!=attributes.class)
		ul.socials__list
			li.socials__item
				i.socials__icon(class="fab fa-facebook-f")
					a.socials__link(href="#")
			li.socials__item
				i.socials__icon(class="fab fa-vk")
					a.socials__link(href="#")