

$green-bg: #15B38D;
$green-bg-brighter: #0DD1A2;

$light-text: #FFFFFF;
$light-bg: #FFFFFF;
$light-transp-text: rgba($light-text, .6);
$dark-text: #1C1C1C;
$dark-bg: #1C1C1C;

$correct: #1DC04B;
$incorrect: #F97676;
